<% include partials/header %>
<div class="container">
    <div class="row forms">
        <div class = "inputs">
            <h2>Add a Comment to <%= pet.name %></h2>
            <div class ="inputsb">
                <form action="/pets/<%=pet._id%>/comment" method="POST">
                    <!--<div class="form-group">-->
                    <!--    <input class="form-control" type="text" name="comment[author]" placeholder="author">-->
                    <!--</div>-->
                    <div class="form-group">
                        <input class="form-control" type="text" name="comment[text]" placeholder="text">
                    </div>
                    <div class="form-group">
                      <button>Publish</button>
                    </div>
                </form>
                <a href="/pets">Go Back</a>
            </div>
        </div>
    </div>
</div>
<% include partials/footer %>