<% include partials/header %>
<div id ="sfondo">
    <div id = "container" class="container">
        <h1 id = "welcome">Welcome to ComPETe</h1>
        <h3 id = "title">The Pet Competition</h3>
        <hr>
        <a class ="petButton" href = "/pets" class="btn btn-default btn-lg"><i class ="fa fa-paw fa-fw"></i> View all Pets</a>
    </div>
</div>
<% include partials/footer %>